*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color:rgba(202, 198, 201, 0.952);
    
}
header{
   
    display: flex;
    flex-direction: row;
    height: 250px;
}
.contenedor-foto{
    width: 25%;
}
.foto{
    margin-left: 20px;
    margin-top: 20px;
    width: 75%;
    border-radius: 50%;
}
.foto:hover{
    transform: scale(1.1);
    transition: 0.9s;
}

.contenedor-informacion-personal{
     width: 50%;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 80px;
}
.na{
    display: inline-block;
    margin-left: -100px; 
}

.like{
    display: inline-block;
    margin: 10px;
    margin-top: 20px;
    font-weight: 600;  
}
nav ul li:hover{
    color: grey;
    transition: 0.7s;
}
#nombre{
    font-size: 40px;
}
#profesion{
    font-size: 16px;
   }
#area{
     width: 500px;
     height: auto;
     border: none;
     resize: none;
     opacity: 1;
     font-size: 18px;
     font-weight: 800;
     margin-top: 25px;
     margin-bottom: 10px;
     text-align: center;
     border-radius: 10px;
     
 }
 #area:hover{
     transform: scale(1.1);
     transition: 1s;
     border: none;
     
 }

 main{
    width: 100%;
    height: 260px;
    background-color: white;
    display: flex;
 }

 .iconos{
    display: flex;
    width: 8%;
    flex-direction: column;
    justify-content: space-between;
  
}
 .iconos img{
    display: flex;
    width: 30px ;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
 
}

img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
img.img-tarjetas{
   display: flex;
    width: 100px;
    height: 75px;
    cursor: pointer;
    margin: auto;
   

}
img.img-tarjetas:hover{
    display: flex;
    text-align: center;
    transform: none;
    transition: 1.5s;
   
}
.contenedor-cajas-info{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 92%;
    height: auto;
    justify-content: center;
    font-size: 10px;
}

 footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90px;
    background-color :rgb(187, 179, 192);
    color: white;  
}
 .redes{ 
 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 30px;
    margin: auto;
    text-align: center;
    align-items: center;
}
#fc{
    width: 30px;
    height: 30px;
   
}
p {
    text-align: center;
    color: black;
    margin-bottom: 10px;
}
.a-footer{
    display: block;
    color: black;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.o,.o1,.o2,.o3,.o4,.o5{
    background: rgba(0, 0, 0,.3);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.o.active , .o1.active, .o2.active,.o3.active,.o4.active,.o5.active{
 visibility: visible;
}
.p,.p1,.p2,.p3,.p4,.p5{
    background: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0,.3) ;
    border-radius: 3px;
    padding: 20px;
    width: 550px;
    height: 170px;
    text-align: left;
    transition: 2s ease all;
    transform: scale(.7);
    opacity: 0;
    margin-top: -100px;
}
.c,.c1,.c2,.c3,.c4,.c5{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .3s ease all;
}
.c:hover,.c1:hover,.c2:hover,.c3:hover,.c4:hover{
    color: black;
}
.p h3,.p1 h3,.p2 h3,.p3 h3,.p4 h3,.p5 h3{
font-size: 36px;
font-weight: 600;
margin-top: -5px;
margin-bottom: 5px;
opacity: 0;
}
.fa {
    font-size: 16px;
    font-weight: 400;
    opacity: 0;
    }
.fa ul {
    font-size: 14px;
    text-align: left;
    margin-left: 30px;
}
.fa ul li{
    margin-top: 10px;
}
.p h4,.p2 h4,.p3 h4, .p4 h4,.p5 h4{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 80px;
    opacity: 0;
    margin-right: 30px;
}
.p1{
    width: 280px;
    height: 210px;
    }
    
    .p1 h3{
        margin-top: 5px;
    }
    .ha {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 40px;
        opacity: 0;
        }
    .ha ul{
        font-size: 14px;
        text-align: left;
    }
    .p2{
        width: 600px;
        height: 180px;
        margin-bottom: 40px;
    }
    .p2 h3{
      margin-top: 10px; 
    }
    .p2 h4{
        margin-bottom: 40px;
        margin-right: 30px;
        font-weight: 600;
    } 
    .p3{
        margin-left: 600px;
        margin-top: -230px;
        width: 200px;
        height: 220px;
        }
    
    .p3 h4{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 40px;
    }
    .p4{
    margin-left: 900px;
    margin-top: -230px;
    width: 200px;
    height: 180px;
    
    }
    .p4 h4{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 40px;
    
    }
    .p5{
    margin-left: 1000px;
    margin-top: -230px;
    width: 200px;
    height: 180px;
    }
    .p5 h4{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 40px;
    }
.p.active,.p1.active,.p2.active,.p3.active,.p4.active,.p5.active{
    opacity: 1;
    transform: scale(1);
}
.p.active h3,.p1.active h3,.p2.active h3,.p3.active h3,.p4.active h3,.p5.active h3{
    animation: entrada-de-titulo 1s ease 0.5s forwards;
}
.p.active h4,.p1.active h4,.p2.active h4,.p3.active h4,.p4.active h4,.p5.active h4{
    animation: entrada_h4 1s ease 0.5s forwards;
}
    @keyframes entrada-de-titulo{

        from{
            transform: translateY(-40px);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes entrada_h4{
        from{
            transform: translateY(25px);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes conte{
        from{opacity: 0;}
        to{opacity: 1;}
    }

    figure{
        display: flex;
        color: white;
        margin: auto;
        padding: 0;
        display: inline-block;
        position: relative;
        overflow: hidden;
        font-size: 20px;
        font-weight: 100;
        width: 250px;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
    figcaption{
        display: flex;
        width: 200px;
        height: 25px;
        cursor: pointer;
     
        font-size: 15px;
        transition: all 0.7s;
        background-color:rgba(0,0,0,0.7);
        position: absolute;
       
        justify-content: center;
        text-align: center;
        margin: auto;
        margin-left: 20px;
        margin-top: 20px; /* Espacio entre imagen y texto */
        bottom: -70px; /* Ajuste posición inicial */
       border-radius: 5px;
       
       
       
    }
   
    
    figure:hover figcaption{
        bottom: 0;
    }
    @media screen and (max-width:700px){
        body{
            background-color:rgba(202, 198, 201, 0.952);
            
        }
        header{
            background-image: url(Imagenes/fondo-header.jpg);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 35%;
        }
        .contenedor-foto{
            width: 25%;
        }
        .foto{
            margin-left: 20px;
            margin-top: 20px;
            width: 75%;
            border-radius: 50%;
        }
        .foto:hover{
            transform: scale(1.1);
            transition: 0.9s;
        }

        .contenedor-informacion-personal{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 80px;
       }
       .na{
           display: flex;
           flex-direction: column;
           align-items: end;
      
       }
       
       .like{
           display: flex;
           align-items: end;
           margin: 5px;
           margin-top: 10px;
           font-weight: 600;  
           font-size: 8px;
       }
       nav ul li:hover{
           color: grey;
           transition: 0.7s;
       }
       #nombre{
           font-size: 14px;
       }
       #profesion{
        font-size: 10px;
       }
       
       #area{
            width: 120%;
            height: auto;
            border: none;
            resize: none;
            opacity: 1;
            font-size: 8px;
            font-weight: 800;
            margin-top: 15px;
            text-align: center;
            border-radius: 10px;
            margin-bottom: 15px;
            
        }
        #area:hover{
            transform: scale(1.1);
            transition: 1.5s;
            border: none;
        }
        main{
           
            background-color: white;
            display: flex;
            flex-direction: column;
       
            height: auto;
         }
        
         .iconos{
            display: flex;
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
          
        }
         .iconos img{
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
         
            height: auto;
            margin-top: 20px;
            margin-left: 0px;
            
         
        }
        
        img:hover{
            transform: scale(1.1);
            transition: 0.5s;
        }
        img.img-tarjetas{
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
            width: 35%;
            height: auto;
            cursor: pointer;
            margin-top: 25px;
            align-items: center;
           
        
        }
       /* img.img-tarjetas:hover{
            display: flex;
            text-align: center;
            transform: none;
            transition: 0;
           
        }*/
        .contenedor-cajas-info{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
            align-items: center;
            width: 100%;
            height: auto;
            margin-bottom: 20px;
            margin-top: 100px;
           margin-right: 20px;
         

          
            
        }
        
         footer{
            display: flex;
            flex-direction: column;
            width: 100%;
          
            background-color :darkgray;
            color: white;  
        }
         .redes{ 
         
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            height: auto;
            margin: auto;
            margin-top: 10px;
            text-align: center;
            align-items: center;
        }
        #fc{
            width: 20px;
            height: 20px;
           
        }
        p {
            text-align: center;
            color: black;
            margin-bottom: 10px;
        }
        .a-footer{
            display: block;
            color: black;
            font-size: 8px;
            font-weight: 600;
            text-decoration: none;
        }
        
        .o,.o1,.o2,.o3,.o4,.o5{
            background: rgba(0, 0, 0,.3);
            position: fixed;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            visibility: hidden;
        }
        .o.active , .o1.active, .o2.active,.o3.active,.o4.active,.o5.active{
         visibility: visible;
        }
        .p,.p1,.p2,.p3,.p4,.p5{
            background: white;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0,.3) ;
            border-radius: 3px;
            padding: 20px;
            width: 550px;
            height: 200px;
            text-align: left;
            transition: 2s ease all;
            transform: scale(.7);
            opacity: 0;
            margin-top: -100px;
        }
        .c,.c1,.c2,.c3,.c4,.c5{
            font-size: 16px;
            line-height: 16px;
            display: block;
            text-align: right;
            color: #bbbbbb;
            transition: .3s ease all;
        }
        .c:hover,.c1:hover,.c2:hover,.c3:hover,.c4:hover{
            color: black;
        }
        .p h3,.p1 h3,.p2 h3,.p3 h3,.p4 h3,.p5 h3{
        font-size: 36px;
        font-weight: 600;
        margin-top: -5px;
        margin-bottom: 5px;
        opacity: 0;
        }
        .fa {
            font-size: 16px;
            font-weight: 400;
            opacity: 0;
            }
        .fa ul {
            font-size: 14px;
            text-align: left;
            margin-left: 30px;
        }
        .fa ul li{
            margin-top: 10px;
        }
        .p h4,.p2 h4,.p3 h4, .p4 h4,.p5 h4{
            font-size: 36px;
            font-weight: 600;
            margin-bottom: 80px;
            opacity: 0;
            margin-right: 30px;
        }
        .p1{
            width: 280px;
            height: 210px;
            }
            
            .p1 h3{
                margin-top: 5px;
            }
            .ha {
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 40px;
                opacity: 0;
                }
            .ha ul{
                font-size: 14px;
                text-align: left;
            }
            .p2{
                width: 300px;
                height: 250px;
                margin-bottom: 40px;
            }
            .p2 h3{
              margin-top: 10px; 
            }
            .p2 h4{
                margin-bottom: 40px;
                margin-right: 30px;
                font-weight: 600;
            } 
            .p3{
                margin-left: 0px;
                margin-top: -230px;
                width: 200px;
                height: 220px;
                }
            
            .p3 h4{
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 40px;
            }
            .p4{
            margin-left: 0px;
            margin-top: -230px;
            width: 200px;
            height: 180px;
            
            }
            .p4 h4{
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 40px;
            
            }
            .p5{
            margin-left: 0px;
            margin-top: -230px;
            width: 200px;
            height: 180px;
            }
            .p5 h4{
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 40px;
            }
        .p.active,.p1.active,.p2.active,.p3.active,.p4.active,.p5.active{
            opacity: 1;
            transform: scale(1);
        }
        .p.active h3,.p1.active h3,.p2.active h3,.p3.active h3,.p4.active h3,.p5.active h3{
            animation: entrada-de-titulo 1s ease 0.5s forwards;
        }
        .p.active h4,.p1.active h4,.p2.active h4,.p3.active h4,.p4.active h4,.p5.active h4{
            animation: entrada_h4 1s ease 0.5s forwards;
        }
            @keyframes entrada-de-titulo{
        
                from{
                    transform: translateY(-20px);
                    opacity: 0;
                }
                to{
                    transform: translateY(0);
                    opacity: 1;
                }
            }
            @keyframes entrada_h4{
                from{
                    transform: translateY(25px);
                    opacity: 0;
                }
                to{
                    transform: translateY(0);
                    opacity: 1;
                }
            }
            @keyframes conte{
                from{opacity: 0;}
                to{opacity: 1;}
            }
        
            figure{
                color: white;
                margin: auto;
                padding: 0;
                display: inline-block;
                position: relative;
                overflow: hidden;
                font-size: 20px;
                font-weight: 100;
                padding-bottom: 50px;
             
              
            }
            figcaption{
                display: flex;
                flex-direction: column;
                width:100%;
                flex-wrap: wrap;
                height: 50px;
                margin-top: 50px;
                background-color:rgba(0,0,0,0.7);
                position: relative;
                bottom: 0px;
                margin-top: 20px; /* Espacio entre imagen y texto */
                bottom: -70px; /* Ajuste posición inicial */
                transition: all 0.7s;
               
               
            }
            figure:hover figcaption{
                bottom: 0;
            }
        
        }
    
